{% load static %}
<!<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% block title %}Web File Viewer{% endblock %}</title>

  {% block head_styles %}{% endblock %}

  {% block head_scripts %}{% endblock %}
</head>
<body>
  {% block header %}{% endblock %}

  {% block content %}{% endblock %}

  {% block templates %}{% endblock %}

  {% block footer %}{% endblock %}

  {% block end_scripts %}{% endblock %}
</body>
</html>
